{% extends "layout.html" %}

{% block body %}

<div class="jumbotron">
  <div class="row">
    <div class="col-6">
      <h1 class="display-3">Weather Data</h1>
    </div>
    <div class="col-2">
      <i class="far fa-sun fa-5x" style="color: orange"></i>
    </div>
    <div class="col-2">
      <i class="fas fa-cloud fa-5x" style="color: gray"></i>
    </div><div class="col-2">
      <i class="far fa-sun fa-5x" style="color: orange"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Ever need to know the weather outside but you're an invtovert that hates the sunlight? Do you need to know the humidity because you're a filthy mouthbreather? Do you distrust Google more than Richard Stallman himself? Look no further than this homemade, organic, grass fed website than handily tells you the indoor/outdoor temperature as well as the indoor/outdoor humidity. Changing the world and advancing humanity one website at a time.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Outside Weather</h3>
      <p>The outdoor temperature is <b id="outdoor_temp">??</b> degrees F</p>
    </div>
    <div class="col-md-3">
      <h3>Indoor Weather</h3>
      <p>The indoor temperature is <b id="indoor_temp">??</b> degrees C</p>
    </div>
    <div class="col-md-3">
      <h3>Outdoor Humidity</h3>
      <p>The outdoor humidity is <b id="outdoor_humidity">??</b>%</p>
    </div>
    <div class="col-md-3">
      <h3>Indoor Humidity</h3>
      <p>The indoor humidity is <b id="indoor_humidity">??</b>%</p>
    </div>
  </div>
  <div class="row" style="height: 250px">
    <div class="col-3 text-center">
      <canvas
	 id="outdoor_temp_gauge"
	 data-type="linear-gauge"
	 data-min-value="0"
	 data-max-value="100"
	 data-width="110"
	 data-height="250"
	 data-animation-rule="elastic"
	 data-animation-duration="500"
	 style="margin: auto"
	 ></canvas>
    </div>
    <div class="col-3 text-center">
      <canvas
	 id="indoor_temp_gauge"
	 data-type="linear-gauge"
	 data-min-value="0"
	 data-max-value="100"
	 data-width="110"
	 data-height="250"
	 data-animation-rule="elastic"
	 data-animation-duration="500"
	 style="margin: auto"
	 ></canvas>
    </div>
    <div class="col-3 text-center">
      <canvas
	 id="outdoor_h_gauge"
	 data-type="radial-gauge"
	 data-min-value="0"
	 data-max-value="100"
	 data-width="200"
	 data-height="200"
	 data-animation-rule="elastic"
	 data-animation-duration="500"
	 style="margin: auto"
	 ></canvas>
    </div>
    <div class="col-3 text-center">
      <canvas
	 id="indoor_h_gauge"
	 data-type="radial-gauge"
	 data-min-value="0"
	 data-max-value="100"
	 data-width="200"
	 data-height="200"
	 data-animation-rule="elastic"
	 data-animation-duration="500"
	 style="margin: auto"
	 ></canvas>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 75px">
  <h2>Send a cheep</h2>

  <form action="/cheep" method="post">
    <div class="form-row">
      <div class="col-4">
	<label>Name: </label>
	<input name="name" type="text" placeholder="Name" required>
      </div>
      <div class="col-4">
	<label>Cheep: </label>
	<input name="message" type="text" placeholder="Cheep away" maxlength="15" required>
	<small class="form-text">Less than 16 characters please</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cheep</button>
  </form>
</div>      	
{% endblock %}
